<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ec.edu.uce.dispmoviles.trabajo1hemi">

    <!-- Permisos-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- Required in 4.4+ to read SMS provider -->
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>

    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>


    <!-- Required permission to User Activity Recognition -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />




    <!-- Required to display the user's location on the map -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Permissions Required to Display a Map -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />



    <!-- Maps v2 requires OpenGL ES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />



    <uses-sdk android:minSdkVersion="9" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>


            <!-- MY PARTE-->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />


            <receiver
                android:name="com.androidrecipes.sms.SmsReceiver"
                android:exported="true">
                <!-- Define a priority on the filter to catch the ordered broadcast -->
                <intent-filter android:priority="5">
                    <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                </intent-filter>
            </receiver>



            <!-- Required Metadata Elements for Maps -->
            <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyBRbkTNBobJqqcbZ0pnVlfauCFwe6O6o1w" />


            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />






            <!-- Required boilerplate for Google Play Services -->


            <service android:name="com.androidrecipes.usermotionactivity.UserMotionService" />



        </activity>

        <!-- Cedula -->
        <activity android:name="ec.edu.uce.dispmoviles.registrocedula.MainActivity">

        </activity>

        <!--Capitulo 1-->

        <!-- Ejercicio 1-->
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer1.StylesActivity">

        </activity>
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer1.ThemedActivity">

        </activity>

        <!-- Ejercicio 2 -->
        <activity
            android:name="ec.edu.uce.dispmoviles.cap1.ejer2.MainActivity"
            android:theme="@style/Theme.AppCompat"></activity>
        <!-- Sub-activities -->
        <activity
            android:name="ec.edu.uce.dispmoviles.cap1.ejer2.DarkActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="ec.edu.uce.dispmoviles.cap1.ejer2.FullActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="ec.edu.uce.dispmoviles.cap1.ejer2.HideActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="ec.edu.uce.dispmoviles.cap1.ejer2.ImmersiveActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="ec.edu.uce.dispmoviles.cap1.ejer2.ImmersiveStickyActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- Ejercicio 3 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer3.MyActivity">

        </activity>

        <!-- Ejercicio 4_1 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer4_1.FlipperActivity">

        </activity>
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer4_1.FlipperPauseActivity">

        </activity>

        <!-- Ejercicio 4_2 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer4_2.AnimateActivity">

        </activity>

        <!-- Ejercicio 4_3 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer4_3.FlipperActivity">

        </activity>

        <!-- Ejercicio 5 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer5.MainActivity">

        </activity>

        <!-- Ejercicio 6 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer6.UniversalActivity">

        </activity>

        <!-- Ejercicio 7 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer7.EmptyActivity">

        </activity>

        <!-- Ejercicio 8 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer8.MyActivity">

        </activity>

        <!-- Ejercicio 9 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer9.SectionsActivity">

        </activity>

        <!-- Ejercicio 10 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer10.MyActivity">

        </activity>

        <!-- Ejercicio 11 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer11.MainActivity">

        </activity>
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer11.NativeActivity">

        </activity>
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer11.SupportActivity">

        </activity>

        <!-- Ejercicio 12 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer12.MainActivity">

        </activity>
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer12.ScrollActivity">

        </activity>

        <!-- Ejercicio 13 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap1.ejer13.SimpleRecyclerActivity">

        </activity>


        <!-- CAPITULO 2 -->
        <!-- Ejercicio 1 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer1.SupportActionActivity">

        </activity>
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer1.SupportToolbarActivity">

        </activity>

        <!-- Ejercicio 3 - 4 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer3_4.LockActivity">

        </activity>
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer3_4.ManualRotationActivity">

        </activity>

        <!-- Ejercicio 5 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer5.ActionActivity">

        </activity>

        <!-- Ejercicio 6 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer6.CustomItemActivity">

        </activity>
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer6.DialogActivity">

        </activity>

        <!-- Ejercicio 7 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer7.OptionsActivity">

        </activity>

        <!-- Ejercicio 8 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer8.MyActivity">

        </activity>

        <!-- Ejercicio 10 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer10.MyActivity">

        </activity>

        <!-- Ejercicio 11 -->
        <activity
            android:name="ec.edu.uce.dispmoviles.cap2.ejer11.MainActivity"
            android:label="@string/title_activity_main_ime">

        </activity>

        <!-- Ejercicio 13 - 14 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer13_14.RemoteScrollActivity">

        </activity>
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer13_14.DelegateActivity">

        </activity>
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer13_14.ImageActivity">

        </activity>
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer13_14.PanScrollActivity">

        </activity>

        <!-- Ejercicio 15 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer15.DisallowActivity">

        </activity>

        <!-- Ejercicio 16 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer16.DragTouchActivity">

        </activity>

        <!-- Ejercicio 17 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer17.SupportActivity">

        </activity>
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer17.ToolbarActivity">

        </activity>

        <!-- Ejercicio 18 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer18.FragmentPagerActivity">

        </activity>
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer18.PagerActivity">

        </activity>

        <!-- Ejercicio 19 -->
        <activity android:name="ec.edu.uce.dispmoviles.cap2.ejer19.ActionTabsActivity">

        </activity>


        <!-- CAPITULO 3 -->

        <!-- Ejercicio 1-2-->


        <activity android:name="ec.edu.uce.dispmoviles.cap3.ejer1_2.MyLocalActivity">

        </activity>

        <!-- Ejercicio 3-->
        <activity android:name="ec.edu.uce.dispmoviles.cap3.ejer_3.MyActivity">

        </activity>

        <!-- Ejercicio 5-->
        <activity android:name="ec.edu.uce.dispmoviles.cap3.ejer_5.DownloadActivity">

        </activity>



        <!-- Ejercicio 6-->
        <activity android:name="ec.edu.uce.dispmoviles.cap3.ejer_6.rest.AuthActivity">

        </activity>

        <activity android:name="ec.edu.uce.dispmoviles.cap3.ejer_6.rest.SearchActivity">

        </activity>

        <!-- Ejercicio 7-->
        <activity android:name="ec.edu.uce.dispmoviles.cap3.ejer_7.MyActivity">

        </activity>


        <!-- Ejercicio 8_1-->
        <activity android:name="ec.edu.uce.dispmoviles.cap3.ejer8_1.xmlpull.PullFeedActivity">

        </activity>

        <activity android:name="ec.edu.uce.dispmoviles.cap3.ejer8_1.xmlpull.PullParserActivity">

        </activity>


        <!-- Ejercicio 8_2-->
        <activity android:name="ec.edu.uce.dispmoviles.cap3.ejer8_2.androidrecipes.xmlsax.FeedActivity">

        </activity>

        <!-- Ejercicio 9-10-->
        <activity android:name="ec.edu.uce.dispmoviles.cap3.ejer9_10.SmsActivity">

        </activity>

        <!-- Ejercicio 11-->
        <activity android:name="ec.edu.uce.dispmoviles.cap3.ejer11.ExchangeActivity">

        </activity>

        <!-- Ejercicio 12-->
        <activity android:name="ec.edu.uce.dispmoviles.cap3.ejer12.Reachability">

        </activity>

        <!-- Ejercicio 13-->
        <activity android:name="ec.edu.uce.dispmoviles.cap3.ejer13.BeamActivity">

        </activity>

        <activity android:name="ec.edu.uce.dispmoviles.cap3.ejer13.NfcActivity">

        </activity>

        <!-- Ejercicio 14-->
        <activity android:name="ec.edu.uce.dispmoviles.cap3.ejer_14.USBActivity">

        </activity>

        <!-- CAPITULO 4-->

        <!-- Ejercicio 2-3-->
        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer2_3.androidrecipes.mapper.BasicMapActivity">
        </activity>
        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer2_3.androidrecipes.mapper.MarkerMapActivity">
        </activity>

        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer2_3.androidrecipes.mapper.ShapeMapActivity">
        </activity>

        <!-- Ejercicio 8-1-->
        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer8_1.videocapture.MyActivity">
        </activity>

        <!-- Ejercicio 8-2-->
        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer8_2.videooverlay.VideoCaptureActivity">
        </activity>


        <!-- Ejercicio 1-->
        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer_1.mylocation.MainActivity">
        </activity>

        <!-- Ejercicio 4-->
        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer_4.androidrecipes.regionmonitor.MainActivity">
        </activity>

        <!-- Ejercicio 5-->
        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer_5.imagecapture.MyActivity">
        </activity>

        <!-- Ejercicio 6-->
        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer_6.cameraoverlay.pic.PreviewActivity">
        </activity>

        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer_6.cameraoverlay.PreviewActivity">
        </activity>

        <!-- Ejercicio 7-->
        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer_7.audioin.RecognizeActivity">
        </activity>
        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer_7.audioin.RecordActivity">
        </activity>

        <!-- Ejercicio 9-->
        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer_9.androidrecipes.speechrecognizer.RecognizeActivity">
        </activity>

        <!-- Ejercicio 10-->
        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer_10.playback.PlayActivity">
        </activity>

        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer_10.playback.PlayerActivity">
        </activity>

        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer_10.playback.VideoActivity">
        </activity>
        <!-- Ejercicio 11-->
        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer_11.soundpool.SoundPoolActivity">
        </activity>

        <!-- Ejercicio 12-->
        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer_12.tilt.TiltActivity">
        </activity>

        <!-- Ejercicio 13-->
        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer_13.compass.CompassActivity">
        </activity>

        <!-- Ejercicio 14-->
        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer_14.metadataretriever.MetadataActivity">
        </activity>

        <!-- Ejercicio 15-->
        <activity android:name="ec.edu.uce.dispmoviles.cap4.ejer_15.androidrecipes.usermotionactivity.MainActivity">

        </activity>

    </application>

</manifest>